In [ ]:
import pandas as pd
import numpy as np
from sklearn.tree import export_graphviz
import pydot
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/temps.csv')

In [ ]:
df.tail(20)

     year  month  day   week  temp_2  temp_1  average  actual  friend
328  2019     12   12    Mon      44      44     45.6      43      42
329  2019     12   13   Tues      44      43     45.5      40      46
330  2019     12   14    Wed      43      40     45.4      39      49
331  2019     12   15  Thurs      40      39     45.3      39      46
332  2019     12   16    Fri      39      39     45.3      35      39
333  2019     12   17    Sat      39      35     45.2      35      38
334  2019     12   18    Sun      35      35     45.2      39      36
335  2019     12   19    Mon      35      39     45.1      46      51
336  2019     12   20   Tues      39      46     45.1      51      62
337  2019     12   21    Wed      46      51     45.1      49      39
338  2019     12   22  Thurs      51      49     45.1      45      38
339  2019     12   23    Fri      49      45     45.1      40      35
340  2019     12   24    Sat      45      40     45.1      41      39
341  2019     12   25    Sun      40      41     45.1      42      31
342  2019     12   26    Mon      41      42     45.2      42      58
343  2019     12   27   Tues      42      42     45.2      47      47
344  2019     12   28    Wed      42      47     45.3      48      58
345  2019     12   29  Thurs      47      48     45.3      48      65
346  2019     12   30    Fri      48      48     45.4      57      42
347  2019     12   31    Sat      48      57     45.5      40      57

In [ ]:
df.head(20)

    year  month  day   week  temp_2  temp_1  average  actual  friend
0   2019      1    1    Fri      45      45     45.6      45      29
1   2019      1    2    Sat      44      45     45.7      44      61
2   2019      1    3    Sun      45      44     45.8      41      56
3   2019      1    4    Mon      44      41     45.9      40      53
4   2019      1    5   Tues      41      40     46.0      44      41
5   2019      1    6    Wed      40      44     46.1      51      40
6   2019      1    7  Thurs      44      51     46.2      45      38
7   2019      1    8    Fri      51      45     46.3      48      34
8   2019      1    9    Sat      45      48     46.4      50      47
9   2019      1   10    Sun      48      50     46.5      52      49
10  2019      1   11    Mon      50      52     46.7      45      39
11  2019      1   12   Tues      52      45     46.8      49      61
12  2019      1   13    Wed      45      49     46.9      55      33
13  2019      1   14  Thurs      49      55     47.0      49      58
14  2019      1   15    Fri      55      49     47.1      48      65
15  2019      1   16    Sat      49      48     47.3      54      28
16  2019      1   17    Sun      48      54     47.4      50      47
17  2019      1   18    Mon      54      50     47.5      54      58
18  2019      1   19   Tues      50      54     47.6      48      53
19  2019      1   20    Wed      54      48     47.7      52      61

In [ ]:
df.shape

(348, 9)

In [ ]:
df.columns

Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'friend'],
      dtype='object')

In [ ]:
df.isnull().sum()

year       0
month      0
day        0
week       0
temp_2     0
temp_1     0
average    0
actual     0
friend     0
dtype: int64

In [ ]:
df = pd.get_dummies(df)
df.head(5)

,year,month,day,temp_2,temp_1,average,actual,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2019,1,1,45,45,45.6,45,29,1,0,0,0,0,0,0
1,2019,1,2,44,45,45.7,44,61,0,0,1,0,0,0,0
2,2019,1,3,45,44,45.8,41,56,0,0,0,1,0,0,0
3,2019,1,4,44,41,45.9,40,53,0,1,0,0,0,0,0
4,2019,1,5,41,40,46.0,44,41,0,0,0,0,0,1,0

In [ ]:
print('Shape of features after one-hot encoding:', df.shape)

Shape of features after one-hot encoding: (348, 15)

In [ ]:
labels = df['actual']

df = df.drop('actual', axis = 1)

feature_list = list(df.columns)

In [ ]:
from sklearn.model_selection import train_test_split


train_features, test_features, train_labels, test_labels = train_test_split(df,labels,test_size = 0.20,random_state = 42)

In [ ]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (278, 14)
Training Labels Shape: (278,)
Testing Features Shape: (70, 14)
Testing Labels Shape: (70,)

In [ ]:
from sklearn.ensemble import RandomForestRegressor


rf = RandomForestRegressor(n_estimators= 1000, random_state=42)


rf.fit(train_features, train_labels);

In [ ]:
#calculate resuilt 
predictions = rf.predict(test_features)


errors = abs(predictions - test_labels)

print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 3.78 degrees.

In [ ]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 94.02 %.